/* h1{font-size:40px;
    color: #6daed3ec;
    text-align: center;
}
body{
    background-color: #1797be;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-style: italic
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.6;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 20px;
}
.para{
    font-size: 20px;
    color: #4bd80e;
    text-align: center;
}
.para-pink {
    font-size: 20px;
    color: #d80e0e;
    text-align: center;
}
.spacer {
height: 1080px;
width : 1080px;
background-color: #bebc4a;
}

table {
    background-color: rgba(202, 194, 44, 0.8);
}
.divya {
    font-size: 20px;
    color: #d5139b;
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    font-family: poppins, sans-serif;
    margin: 100px;
    padding-right: 80px;
    padding-bottom: 60px;
    margin-bottom: 10px;
} */

#divyaamgai {
    background-color: rgb(255, 0, 0);
    color: black;
    padding-top: 2rem;
    margin-bottom: 20rem;
    padding-inline: 20rem;
    border: 10px solid rgb(64, 40, 221)
}
#divyaamgai2 {
    background-color: black;
    color: red;
    padding: 3rem;
    margin-top: 2rem;
}

.box {
    width: 500px;
    height: auto;
    background-color: #ffffff;
    margin: 20px auto;
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    padding: 20px;
}

.name {
    text-transform: capitalize;
}

.container {
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box h1 {
    text-align: center;
    color: #333;
}
.icon {
    height: 50px;
    width: 50px;
    fill: darkblue;
}