body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

.card {
  width: 900px;
  height: 520px;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* LEFT */
.left {
  flex: 1;
  background: black;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text p {
  margin: 0 0 25px 0;
  font-size: 30px;
}
.label {
  font-weight: bold;
}

/* SOCIAL ICONS */
.social {
  display: flex;
  gap: 15px;
}
.social a {
  width: 40px;
  height: 40px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-size: 18px;
  text-decoration: none;
}

/* RIGHT */
.right {
  flex: 1;
}
.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
